body {background-color:linen;}
h1 {
    color: Black;
    font-family: Tahoma;
    font-size: 200%;}
p  {
    color: green;
    font-family: Tahoma;
    font-size: 125%;}

h2 {color: DarkGreen;
	font-family: Tahoma;
	font-size: 165%;}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: Green;
  cursor: url('cursor.ico'), default;
}
a {
    color: black;
	cursor: url('cursor.ico'), default;
}

body {
	cursor: url('cursor.ico'), default;
}
